h4{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    transform: rotate(0deg);
    color: black;
    font-style: italic;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  .game_board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    max-width: 800px; 
    margin: 40px auto;
    padding: 10px;
}

.card {
    width: 200px; 
    height: 260px;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    height: 100%;
     
    object-position: center; 
}

.card:hover {
    transform: scale(1.05); 
}